<head>
	<script src="static/jquery.js" type="text/javascript"></script>
	<script src="static/utils.js" type="text/javascript"></script>
	<script src="static/physics.js" type="text/javascript"></script>
	<script src="static/controls.js" type="text/javascript"></script>
	<script src="static/graphics.js" type="text/javascript"></script>
	<script src="static/math.js" type="text/javascript"></script>
	<script src="static/discwar.js" type="text/javascript"></script>
	<script src="static/settings.js" type="text/javascript"></script>

	<script type="text/javascript">

	  var images = {
	  {% for avatar in avatars %}
	  '{{avatar.name}}' : 'static/{{avatar.src}}',
	  {% endfor %}
	  };

	  function onGameEnd() {
	      running = false;
	      $("#player0Type").attr("disabled", false);
	      $("#player1Type").attr("disabled", false);
	      $("#player0Img").attr("disabled", false);
	      $("#player1Img").attr("disabled", false);
	      $("#player0Server").attr("disabled", false);
	      $("#player1Server").attr("disabled", false);
	  }
	  
	  function getImg(p) {
	      return $("#" + p.type + "Img").val();
	  }

	  function onGameStart() {
			collidableObjects = [];
	                outstanding.player0 = null;
	                outstanding.player1 = null;
			keys = {
				'player0' : {'u' : false, 'd' : false, 'r' : false, 'l' : false, 's' : false},
				'player1' : {'u' : false, 'd' : false, 'r' : false, 'l' : false, 's' : false}
			};

			$("#player0Type").attr("disabled", true);
			$("#player0Server").attr("disabled", true);
	                $("#player0Img").attr("disabled", true);
	                $("#player1Img").attr("disabled", true);
			$("#player1Type").attr("disabled", true);
			$("#player1Server").attr("disabled", true);
			collidableObjects = [];
			var p1 = {'type' : 'player0', 'mass' : settings.defaultPlayerMass, 'radius' : settings.playerRadius, 'x' : settings.maxWidth/2 + 100, 'y' : settings.maxHeight/2 + 100, 'color' : 'rgb(227,25,25)', 'maxAcc' : settings.defaultPlayerMaxAcc, 'maxVel' : settings.maxVel, 'v' : {'r' : 0, 'th' : 0}, 'a' : {'r' : 0, 'th' : 0}};
			var p2 = {'type' : 'player1', 'mass' : settings.defaultPlayerMass, 'radius' : settings.playerRadius, 'x' : settings.maxWidth/2 - 100, 'y' : settings.maxHeight/2 - 100, 'color' : 'rgb(24,17,168)', 'maxAcc' : settings.defaultPlayerMaxAcc, 'maxVel' : settings.maxVel, 'v' : {'r' : 0, 'th' : 0}, 'a' : {'r' : 0, 'th' : 0}};
			p1.accelMethod = getAccelMethod(p1);
			p2.accelMethod = getAccelMethod(p2);
			p1.img = getImg(p1);
			p2.img = getImg(p2);
			collidableObjects.push(p1);
			collidableObjects.push(p2);
			running = true;
			requestAnimFrame(drawFrame);
	                window.setTimeout(incrementTime, 16);
		}

	</script>

	<style type="text/css">
		canvas { border: 1px solid black; }
	</style>
</head>

<body>
  <div>
    <div style="float:left">
      <canvas id="game" width="800" height="800" >
	Fallback
      </canvas>
    </div>
    <div>
      <div id="settings"></div>
      
      <label for="player0Type">Player 1:</label>
      <select id="player0Type">
	<option value="Manual">Manual - WASD to move, F to stop</option>
	<option value="AggressiveJS">Aggressive Javascript</option>
	<option value="DodgerJS">Dodger Javascript</option>
	<option value="CenterJS">Center Holder Javascript</option>
	<option value="ServerAi">Server Ai</option>
      </select>
      <select id="player0Img">
      </select>
      <div id="player0ServerDetails" style="display:none">
	<span>Server:</span><input id="player0Server" value="http://localhost:8000/discwar/aggressive" style="width:300px"></input>
	<span>Avg (ms):</span><span id="player0LastResp">0</span>
	<span>Max (ms):</span><span id="player0MaxResp">0</span>
      </div>
      <br />

      <label for="player1Type">Player 2:</label>
      <select id="player1Type">
	<option value="Manual">Manual - Arrow Keys to move, M to stop</option>
	<option value="AggressiveJS">Aggressive Javascript</option>
	<option value="DodgerJS">Dodger Javascript</option>
	<option value="CenterJS">Center Holder Javascript</option>
	<option value="ServerAi">Server Ai</option>
      </select>
      <select id="player1Img">
      </select>
      <div id="player1ServerDetails" style="display:none"> 
	<span>Server:</span><input id="player1Server" value="http://localhost:8000/discwar/aggressive" style="width:300px"></input>
	<span>Avg (ms):</span><span id="player1LastResp">0</span>
	<span>Max (ms):</span><span id="player1MaxResp">0</span>
      </div>
      <br />

      <button id="start">Start</button>
      <button id="end">Stop</button>
    </div>
  </div>

	<script type="text/javascript">
	  
	  function setAvatars(select) {
              for (img in images) {
	          select.append("<option value='" + img + "'>" + img + "</option>");
	      }
          };
	  
	  function showOrHideServer(e) {
	      var player = $(this).attr("id").substring(0, 7);
	      if ($(this).val() == "ServerAi") {
	          $("#" + player + "ServerDetails").show();
	      } else {
	          $("#" + player + "ServerDetails").hide();
	      }
	  };
	  
	  
	  $(document).ready(
	  new function() {
	  init();
	  $("body").keydown(handleKeydown);
	  $("body").keyup(handleKeyup);

	  $("#player0Server").val(window.location.href + "/aggressive");
	  $("#player1Server").val(window.location.href + "/aggressive");

	  setAvatars($("#player0Img"));
	  setAvatars($("#player1Img"));

	  $("#player0Type").change(showOrHideServer);
	  $("#player1Type").change(showOrHideServer);
	  
	  loadImages();

	  loadSettings();
	  
	  $("#start").click(
	  function() {
	  if (!running) {
	  onGameStart();
	  }
	  }
	  );
	  
	  $("#end").click(
	  onGameEnd
	  );
	  });
	</script>
</body>
